@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: rgb(11 19 30); */
  font-family: "Rubik";
}
html{
  background-color: rgb(11 19 30);
}

.nav a:hover img{
  filter: brightness(0) invert(1) !important;
}

.active{
  color: white !important;
}
.active img{
  filter: brightness(0) invert(1) !important;
}


.rotate{
  animation: 'rotate 2s linear infinite',
}
.rotateInverse{
  animation: 'rotateInverse 2s linear infinite',
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateInverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.hel{
  height: 38.2rem !important;
}